.card-back{
    position: absolute;
    top:10%;
    left:25%;
    right:5%;
    @media(min-width:1440px){
        top:51%;
        left:50%;
        width:100%;
    }
    @media(min-width: 1740px){
        top:52%;
    }
    &__image{
        max-width: 100%;
        @media(min-width:1440px){
            width: 100%;
        }
    }
    &__cvc{
        position:absolute;
        top: 44%;
        right:18%;
        font-size: 3vw;
        color:#fff;
        @media (min-width:586px){
            top: 44.5%;
            font-size:16px ;
        }
        @media(min-width:1440px){
            top: 45.5%;
        }
    }
}