.completed{
    width:90%;
    margin: 20vw auto;
    display: none;
    @media(min-width:585px){
        width:500px;
        margin: 120px auto;
    }
    svg{
        display: block;
        margin: 0 auto;
    }
    h1,p{
        text-align: center;
    }
    h1{
        padding:1em;
    }
    p{
        padding-bottom:1em;
    }
}